@import './variables';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input,
textarea,
button,
select,
span,
label,
li,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  font-family: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: $bodyColor;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

main {
  position: relative;
  flex-grow: 1;
}

.container {
  max-width: 1266px;
  margin: 0 auto;
}

.headerInfo {
  display: flex;
  justify-content: space-between;
  padding: 50px 0 30px;
  align-items: center;
}

.headerInfo__heading {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #E31F24;
}

.headerInfo__userLink {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $titleColor;
}
